body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('https://img.freepik.com/free-photo/top-view-desk-concept-with-notepad_23-2148604955.jpg?size=626&ext=jpg&ga=GA1.1.2116175301.1719100800&semt=ais_user') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 500px;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.calculator {
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #555;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}
